


<h1>Team</h1>
<div class="team">
  <h3>Team Name: <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %></h4><br>
</div><br>


<h1>Heros</h1>
<% @heros.each do |hero| %>
<div class="hero">
  <h3>Hero Name: <%= hero.name %></h3>
  <p>Hero Power: <%= hero.power %></p><br>
  <p>Hero Biography: <%= hero.biography %></p>
</div><br>
<% end %>
